<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans.xsd
      http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans.xsd
      http://www.springframework.org/schema/rabbit
      http://www.springframework.org/schema/rabbit/spring-rabbit.xsd">

    <!--配置connection-factory，指定连接rabbit server参数-->
    <rabbit:connection-factory id="connectionFactory" username="zsljay" password="zsljay"
                               host="119.29.209.127"
                               port="5672"
                               virtual-host="/"/>
    <!--通过指定下面的admin信息，当前producer中的exchange和queue会在rabbitmq服务器上自动生成-->
    <rabbit:admin id="connectAdmin" connection-factory="connectionFactory"/>
    <!--定义queue
    <rabbit:queue id="SpringQueue" name="SpringQueue"  durable="true" auto-delete="false" exclusive="false">
        <rabbit:queue-arguments>
            <entry key="x-max-length">
                <value type="java.lang.Integer">5</value>
            </entry>
        </rabbit:queue-arguments>
    </rabbit:queue>-->

    <!--定义queue-->
    <rabbit:queue id="VailMail" name="VailMail"  durable="true" auto-delete="false" exclusive="false" declared-by="connectAdmin"/>

    <!-- 定义direct exchange，绑定queueTest -->
    <rabbit:direct-exchange name="exchangeVailEmail" durable="true" auto-delete="false" declared-by="connectAdmin">
        <rabbit:bindings>
            <rabbit:binding queue="VailMail" key="test"></rabbit:binding>
        </rabbit:bindings>
    </rabbit:direct-exchange>

    <!--定义rabbit template用于数据的接收和发送-->
    <rabbit:template id="amqpTemplate" connection-factory="connectionFactory" exchange="exchangeVailEmail"/>

    <!--注入生产者的bean-->
    <bean id="EmailProduce" class="com.zsl.Produce.EmailProduce"/>
    <!--消费者的bean注入-->
    <bean id="VailEmailComsumer" class="com.zsl.ComsumerListener.VailEmailComsumer"/>



    <!--消费者的消息监听-->
    <rabbit:listener-container connection-factory="connectionFactory">
        <!--监听不同的队列，扔给不同的类去处理-->
        <rabbit:listener queues="VailMail" ref="VailEmailComsumer"/>
    </rabbit:listener-container>





</beans>